* {
	overflow: hidden;
	transition: all ease-in-out 300ms;
}

body {
	font-size: 16px;
}

div.parent {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}
.container {
	color: #fff;
	padding: 0 50px 30px 50px;
	display: flex;
	flex-direction: row;
	flex: 1;
}

.container > div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
	height: 263px;
}

.top > div:last-child > div:last-child {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.neumorphic {
	box-shadow: -4px -4px 10px rgba(248, 248, 248, 0.08),
		4px 4px 10px rgba(0, 0, 0, 0.75);
}

.text-neumorphic {
	background-color: #212121;
	color: #fff;
	text-shadow: inner -1px -1px 2.5px rgba(248, 248, 248, 0.08),
		1px 1px 2.5px rgba(0, 0, 0, 0.75);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

div.neumorphic {
	border-radius: 20px;
	margin: 15px;
	padding: calc(35px - var(--gap));
	color: #fff;
	--gap: 12px;
}

.neumorphic > * {
	margin: var(--gap);
}

.feedback {
	width: 100%;
	overflow: visible;
}

.feedback h2,
.feedback p {
	font-size: 1em;
}

.feedback table {
	margin-top: 4px;
}

.feedback table td {
	vertical-align: middle;
}

.feedback table td:nth-child(1) {
	padding-right: 25px;
}

.feedback table .dot {
	margin-left: 7px;
}

@media (max-width: 1400px) {
	.feedback table td:nth-child(1) {
		padding-right: 10px;
	}

	.feedback table .dot {
		margin-left: 4px;
	}

	body {
		font-size: 13px;
	}

	.top {
		height: 220px;
	}

	.top > div:last-child > div:last-child {
		display: none;
	}

	.top > div:last-child {
		width: 144px;
	}

	.days {
		height: 120px !important;
		width: 120px !important;
	}

	.list > div {
		height: calc(100vh - 436px) !important;
	}
}

.feedback table td:nth-child(2) {
	display: flex;
	flex-direction: row;
}

.feedback svg {
	margin-left: 6px;
}

header {
	width: 100%;
	height: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

header .user {
	padding-top: 25px;
	padding-left: 50px;
	display: flex;
	flex-direction: row;
}

header .user div,
header .user div p {
	margin: 0;
}

header .user div {
	margin-left: 25px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header .Perfil {
	height: 50px;
	width: auto;
	min-width: unset;
	min-height: unset;
}

header button {
	border: none;
	font-size: 1.1em;
	color: #1fddbd;
	background-color: #212121;
	font-weight: bold;
	width: 7vw;
	margin-right: 25px;
	height: 50px;
	border-radius: 15px;
	cursor: pointer;
}

header button:hover {
	color: #212121;
	background-color: #1fddbd;
}

.days {
	height: 100%;
	position: relative;
	margin: 0;
	overflow: visible;
}

/* .days > div:first-child {
	margin: 0;
} */

.days > div:last-child {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 1em;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
}

.days > div:last-child > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4.6vw;
	width: 4.6vw;
	background-color: #fff;
	border-radius: 50%;
	mix-blend-mode: lighten;
	font-size: 100%;
}

.days > div:last-child > div p {
	color: black;
	font-size: 3.3em;
	font-weight: bold;
}

.sidebar > div {
	overflow-y: auto;
	margin-right: 3px;
	padding-right: 10px;
}

.sidebar h2,
.sidebar h3,
.sidebar p {
	margin: 3px 0;
}

.sidebar h2 {
	margin-top: 10px;
}

.sidebar h3 {
	color: #1fddbd;
}

.sidebar p {
	margin: 3px 0 30px 5px;
	color: #bbb;
	font-size: 0.8em;
	text-align: justify;
}

.sidebar * {
	overflow: visible;
}

.teams ul li {
	height: 81px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.teams ul li.active {
	color: #1fddbd;
}

.teams .teams-list {
	direction: rtl;
}

.teams .teams-list li {
	margin: 0 10px;
}

.list table,
.list tr {
	margin: 0;
	padding: 0;
}

.list table {
	width: 100%;
	border-collapse: collapse;
}

.list > div {
	height: calc(100vh - 566px);
	width: 100%;
	overflow-y: auto;
	margin: 0;
	padding: 0;
}

.list table td {
	text-align: center;
	border-bottom: 1px solid #444;
	border-right: 1px solid #2a2a2a;
	height: 35px;
}

.list table tr.inactive td {
	color: #555;
}

.list table tr.inactive div {
	filter: grayscale(1);
	cursor: not-allowed;
	pointer-events: none;
}

.list table td div {
	text-decoration: none;
	background-color: #1fddbd;
	color: #1c1c1c;
	padding: 3px 15px;
	border-radius: 5px;
	cursor: pointer;
	width: unset;
	display: inline;
}

.list table tr:not(.inactive) td div:hover {
	background-color: #99f0e1;
}

.list table td:last-child {
	border-right: none;
}

.list table tr:last-child td {
	border-bottom: none;
}

.list table th {
	background-color: #333;
	height: 40px;
}

.list table tr:hover:not(:first-child):not(.inactive) td {
	background-color: #555;
	border-color: transparent;
}

.list table tr:first-child th:first-child {
	border-top-left-radius: 10px;
}

.list table tr:first-child th:last-child {
	border-top-right-radius: 10px;
}

.teams .teams-list::-webkit-scrollbar {
	width: 5px;
}

.list > div::-webkit-scrollbar,
.teams .teams-list::-webkit-scrollbar,
.sidebar > div::-webkit-scrollbar,
.feedback > div::-webkit-scrollbar {
	width: 10px;
	margin-left: 5px;
	transition: all 0.3s;
}

.list > div::-webkit-scrollbar-track,
.teams .teams-list::-webkit-scrollbar-track,
.sidebar > div::-webkit-scrollbar-track,
.feedback > div::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 5px;
}
.list > div:hover::-webkit-scrollbar-track,
.sidebar > div::-webkit-scrollbar-track,
.feedback > div:hover::-webkit-scrollbar-track {
	background: #1c1c1c;
}

.list > div::-webkit-scrollbar-thumb,
.sidebar > div::-webkit-scrollbar-thumb,
.teams .teams-list::-webkit-scrollbar-thumb,
.feedback > div::-webkit-scrollbar-thumb {
	background: #272727;
	border-radius: 5px;
}

.list > div:hover::-webkit-scrollbar-thumb,
.sidebar > div:hover::-webkit-scrollbar-thumb,
.teams .teams-list:hover::-webkit-scrollbar-thumb,
.feedback > div:hover::-webkit-scrollbar-thumb {
	background: #2a2a2a;
}
